<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <meta charset="UTF-8" />
        <style type="text/css">
            td {
                padding-left: 25px;
                padding-right: 25px;
            }
            thead {
                font-weight: bold;
            }
            td:last-child {
                text-align: right;
            }
        </style>
    </head>
<body>
<b>{{ msg }}</b><br />
Zeitraum:
{% for i in range(1, maxZeitraum) %}
<a href="admin.php?zeitraum={{ i }}">{{ i }}</a>&nbsp;
{% endfor %}
<br /><br />
<b>Exponentielle Glättung</b>
<table id="exp">
    <thead>
    <tr>
        <td>Bauteil</td>
        <td>Formel</td>
        <td>Neuer Bedarf (exp)</td>
        <td>Neuer Bedarf (avg)</td>
    </tr>
    </thead>
    <tbody>
    {% for bauteil in vorhersage %}
    <tr>
        <td>{{ bauteil.Name }}</td>
        <td>{{ bauteil.Soll }} + 0.2*( {{ bauteil.Verbrauch }} - {{ bauteil.Soll }} ) = </td>
        <td>{{ bauteil.NextSoll }}</td>
        <td>{{ bauteil.Avg }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<form method="post" action="admin.php?zeitraum={{ zeitraum }}">
    <input type="submit" name="expGlat" value="Eintragen in Zeitraum {{ maxZeitraum + 1 }} (exp)">
</form>
<hr />
<table id="asso">
    <thead>
    <tr>
        <td>Bauteile</td>
        <td>Confidence</td>
    </tr>
    </thead>
    <tbody>
    {% for asso in assos %}
        <tr>
            <td>{{ asso.Name1 }} --> {{ asso.Name2 }}</td>
            <td>{{ asso.confidence * 100 }}%</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>